body{
    margin:10px;
}
a{
    background:rgb(233, 232, 232);
    text-align:center;
    margin:40px;
    border-radius: 5px;
}
a:hover{
    color:rgb(245, 161, 175);
}
a:visited{
    color:rgb(207, 24, 207);
}
a:checked{
    color:grey;
}
a:active{
    background:rgb(25, 219, 226);
}
section{
    background:url(./flywheel.jpg);
    margin:0px;
    padding:1px;
    text-align:center;
    font-size:30px;
}
h1{
    text-align:center;
    padding:4px;
    color:white;}
.a{
    text-align:left;
    display:flex;
    
} 
img{
    display:block;
}
nav{
    
    margin:10px;
}   

p{
    color:black;
    
}
h2{
    color:blue;
}
span{
    text-align:center;

}
.text{
    margin:5px;

}
.img{
  background:green;
  padding:20px;
 
}
img{
    margin:15px;
}
